name: wise_scalars_example
description: "Demonstrates how to use the wise_scalars plugin."
publish_to: 'none'

environment:
  sdk: ^3.10.3

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.20.2

  wise_scalars:
    path: ../
  cupertino_icons: ^1.0.8

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
