name: sandbox
description: A Wisemen Flutter project.
publish_to: 'none'

version: 0.0.1+1

environment:
  sdk: '>=3.10.0 <4.0.0'
workspace:
  - packages/network
  - packages/database
  - packages/repository
dependencies:
  # Flutter
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^1.0.8

  # Wisemen
  wisecore:
    path: ../wisecore
  wisewidgetslibrary:
    path: ../wisewidgetslibrary
  wise_nav_bar:
    path: ../wise_nav_bar
  wiseclient: 
    path: ../wiseclient
  
 # Riverpod
  riverpod_annotation: ^4.0.0
  hooks_riverpod: ^3.1.0
  
  # Device info
  package_info_plus: ^9.0.0

  # Splash
  flutter_native_splash: ^2.4.1

  # Logging
  talker_flutter: ^5.1.9

  # Storage
  shared_preferences: ^2.5.3

  # Localization
  intl: ^0.20.2
  flutter_dotenv: ^6.0.0

dev_dependencies: 
  # Code generation
  build_runner: ^2.10.4

  # Riverpod
  riverpod_generator: ^4.0.0+1

  # Routing
  auto_route_generator: ^10.4.0
  
  # Flavors
  flutter_flavorizr: ^2.4.1
  
  # Linting
  riverpod_lint: ^3.1.0
  custom_lint: ^0.8.1

# flavors
flavorizr:
  flavors:
    # dev
    development:
      app:
        name: "Sandbox"
      android:
        applicationId: "com.wisemen.app.development"
      ios:
        bundleId: "com.wisemen.app.development"
    # staging
    staging:
      app:
        name: "Sandbox"
      android:
        applicationId: "com.wisemen.app.staging"
      ios:
        bundleId: "com.wisemen.app.staging"
    # test
    qa:
      app:
        name: "Sandbox"
      android:
        applicationId: "com.wisemen.app.qa"
      ios:
        bundleId: "com.wisemen.app.qa"
    # production
    production:
      app:
        name: "Sandbox"
      android:
        applicationId: "com.wisemen.app"
      ios:
        bundleId: "com.wisemen.app"

flutter:
  uses-material-design: true

  assets:
    - assets/icons/
    - assets/images/

flutter_intl:
  enabled: true # Required. Must be set to true to activate the plugin. Default: false
  class_name: S # Optional. Sets the name for the generated localization class. Default: S
  main_locale: en # Optional. Sets the main locale used for generating localization files. Provided value should comply with ISO-639-1 and ISO-3166-1 (e.g. "en", "en_GB"). Default: en
